body{
    background-color: #e2a85d;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    font-weight:100;
    font-style:italic;
    text-decoration:underline;
    text-transform:capitalize;
    text-shadow: 1px 1px 20px rebeccapurple ;
    text-align: center;
    border: 3px dotted brown;
    background-color: rgb(175, 235, 235);
    display: inline;
}
img{
    border:3px dotted brown;
    border-radius: 100%;
    float: right;
    margin-right: 20px;
    padding:3px;

}